@font-face {
  font-family: "iconfont";
  /* project id 1641299 */
  src: url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.eot");
  src: url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.eot?#iefix") format("embedded-opentype"), url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.woff2") format("woff2"), url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.woff") format("woff"), url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.ttf") format("truetype"), url("https://at.alicdn.com/t/font_1641299_vwb9snfavdj.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont";
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  user-select: none;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px #ddd;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 70px;
  background-color: #1084ea;
  font-weight: blod;
  font-size: 24px;
  color: #fff;
}
.header .logo i {
  margin-left: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
}
.header .navbar {
  list-style: none;
  margin-right: 65px;
}
.header .navbar a {
  color: #000;
}
.content {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}
/* aside */
.aside {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #161f2e;
}
.aside ul {
  flex: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}
.aside ul li {
  position: relative;
  opacity: 0.7;
}
.aside ul li:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #121a2a;
}
.aside ul li.active {
  opacity: 1;
  background-color: #121a2a;
  transform: 1;
}
.aside ul li.active::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 70%;
  background-color: #1084ea;
}
.aside ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.aside ul li a span {
  font-size: 16px;
  margin-right: 8px;
}
.main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
  flex: 1;
}
.main .user-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px;
}
.main .user-title .user-text {
  display: flex;
  flex-direction: column;
}
.main .user-title .user-text h1 {
  font-size: 24px;
  margin-bottom: 2px;
}
.main .user-title .user-text p {
  color: #999;
  margin-bottom: 0;
  font-size: 14px;
}
.main .user-title .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: #fff;
}
.main .user-table {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  flex: 1;
}
.main .user-table .table {
  margin-bottom: 20px;
}
.main .user-table .table tr > td > a {
  text-decoration: none;
}
.main .user-table .table tr > td > a.text-danger {
  margin-left: 5px;
}
.main .user-table .table tr > td > a.text-primary {
  font-weight: 600;
}
.main h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
.main .edt-group {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px #ddd;
  margin-top: 10px;
  padding: 15px;
}
.main .cover-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #eee;
}
.main .cover-wrap img {
  max-width: 100px;
  border-radius: 10px;
}
.main .ck {
  height: 300px;
}
